{% extends "base.html" %}
{% load static %}

{% block title %}Listagem{% endblock %}

{% block content %}
<div class="container text-white mt-5">
    <h2 class="mb-3">Lista de Filmes</h2>
    <!-- {{list}} -->
    {% if messages %}
    <ul>
      <div class="alert alert-success" role="alert">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </div>
    </ul>
    {% endif %}
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Título</th>
          <th scope="col">Lançamento</th>
          <th scope="col">Gênero</th>
          <th scope="col">Favorito</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody class="align-middle">
        
        {% for l in list %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ l.title }}</td>
            <td>{{ l.release_date }}</td>
            <td>
              {% for g  in l.genres %}
                <span class="badge text-bg-secondary">{{ g.name }}</span>
              {% endfor %}
            </td>
            <td><button class="btn"><i class="fa-regular fa-heart text-secondary"></i></button></td>
            <td>
              {% if l.status_watch %}
                <button class="btn btn-success" name="status-positive"><i class="fa-solid fa-thumbs-up"></i></button>
              {% else %}
                <button class="btn btn-danger" name="status-negative"><i class="fa-solid fa-thumbs-down"></i></button>
              {% endif %}
            </td>
            <td>
              <div class="d-flex gap-2 justify-content-center">
                <a class="btn btn-primary" href="{% url 'infos' l.id %}"><i class="fa-solid fa-circle-info"></i></a>
                <a class="btn btn-danger" href="{% url 'delete-movie' l.id_bd %}"><i class="fa-solid fa-trash-can"></i></a>
              </div>
            </td>
          </tr>
        {% endfor %}
        
      </tbody>
    </table>

    <!-- Paginação -->
    <div class="d-flex justify-content-between">
      <span>Página {{page_obj.number}} de {{ page_obj.paginator.num_pages }}</span>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% if page_obj.number > 3 %}
              <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
              {% if page_obj.number > 4 %}
                <li class="page-item"><a class="page-link" href="#">...</a></li>
              {% endif %}  
            {% endif %} 
          {% endif %}

          
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
            {% endif %}
          {% endfor %}

          
          {% if page_obj.has_next %}
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
              <li class="page-item"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>
            {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
              <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>
            {% endif %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>        
          {% endif %}

        </ul>
      </nav>
    </div>
</div>
{% endblock %}