.swiper {
    max-width: 100%;
    min-height: 300px;
    max-height: 500px;
}

.img {
    max-width: 100%;
    width: 1920px;
    min-height: 300px;
    max-height: 500px;
    object-position: center;
}