{% extends "base.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/catalogo.css'%}">{% endblock %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div>
    <div class="container-sidebar">
        <div class="navigation bg-dark">
            <ul class="list-group">
                <li>
                    <a href="#">
                        <!-- <span class="icon">
                            <ion-icon name="logo-apple"></ion-icon>
                        </span> -->
                        <span class="title">Brand Name</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa-solid fa-film"></i>
                        </span>
                        <span class="title">Filmes</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa-solid fa-photo-film"></i>
                        </span>
                        <span class="title">Séries</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa-solid fa-person-rays"></i>
                        </span>
                        <span class="title">Animes</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa-solid fa-gear"></i>
                        </span>
                        <span class="title">Configurações</span>
                    </a>
                </li>

                <!-- <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
    <!-- ========================= Main ==================== -->
    <div class="container">
        <div class="main">
            <!-- <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars text-white" name="menu-outline"></i>
                </div>
            </div> -->
        </div>
    </div>
</div>
<script>
    let list = document.querySelectorAll(".navigation li");

    function activeLink() {
        list.forEach((item) => {
        item.classList.remove("hovered");
        });
        this.classList.add("hovered");
    }

    list.forEach((item) => item.addEventListener("mouseover", activeLink));

    // Menu Toggle
    let toggle = document.querySelector(".toggle");
    let navigation = document.querySelector(".navigation");
    let main = document.querySelector(".main");

    toggle.onclick = function () {
        navigation.classList.toggle("active");
        main.classList.toggle("active");
    };
</script>
{% endblock %}